/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10
#include <dt-bindings/zmk/pointing.h>

// Layer definitions
#define L_BASE 0
#define L_NUMS 1
#define L_MOUSE 2
#define L_SETTINGS 3

&mmv {
	x-input-code = <INPUT_REL_X>;
	y-input-code = <INPUT_REL_Y>;
	time-to-max-speed-ms = <300>;
	// The acceleration exponent to apply: 0 - uniform speed, 1 - uniform acceleration, 2 - linear acceleration
	acceleration-exponent = <1>;
};

&msc {
	x-input-code = <INPUT_REL_HWHEEL>;
	y-input-code = <INPUT_REL_WHEEL>;
	time-to-max-speed-ms = <300>;
	// The acceleration exponent to apply: 0 - uniform speed, 1 - uniform acceleration, 2 - linear acceleration
	acceleration-exponent = <0>;
};

&sk {
	// don't release mods on other mods presses
	ignore-modifiers;
};

/ {
	behaviors {
		// Enables holding the first mod-tap key
		// by performing a tap-release-hold sequence.
		// To use it: "&qt KEYCODE1 KEYCODE2"
		qt: quick_tap {
			compatible = "zmk,behavior-hold-tap";
			label = "QUICK_TAP";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <200>;
			quick-tap-ms = <200>;
			bindings = <&kp>, <&kp>;
		};
	};

	macros {
		// sometimes my device thinks a modifier is being held down
		// pressing all modifiers fixes it.
		unstick: unstick {
			label = "ZM_unstick";
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			label = "Base";
			bindings = <
			&mt LEFT Q &mt UP W &mt RIGHT E &mt HOME R &mt END T    &mt HOME Y &mt END U &mt LEFT I &mt UP O &mt RIGHT P
			&mt PG_UP A &mt DOWN S &mt LALT D &mt LCTRL F &mt LSHIFT G    &mt RSHIFT H &mt RCTRL J &mt RALT K &mt DOWN L &mt PG_UP SEMI
			&mt PG_DN Z &mt ESC X &mt LALT C &mt LCTRL V &mt LSHIFT B    &mt RSHIFT N &mt RCTRL M &mt RALT COMMA &mt ESC DOT &mt PG_DN SQT
			&lt L_NUMS SPACE &lt L_MOUSE RET    &lt L_MOUSE RET &lt L_NUMS SPACE
			>;
		};
		nums_layer {
			label = "Nums";
			bindings = <
			&mt C_VOL_UP N1 &mt C_NEXT N2 &kp N3 &kp N4 &kp N5    &kp N6 &kp N7 &kp N8 &mt C_NEXT N9 &mt C_VOL_UP N0
			&mt C_VOL_DN F1 &mt C_PREV F2 &mt LALT F3 &mt LCTRL F4 &mt LSHIFT F5    &mt RSHIFT F6 &mt RCTRL F7 &mt RALT F8 &mt C_PREV F9 &mt C_VOL_DN F10
			&mt C_MUTE LBKT &mt C_PP RBKT &mt LALT BSLH &mt LCTRL FSLH &mt LSHIFT GRAVE    &mt RSHIFT MINUS &mt RCTRL EQUAL &mt RALT CAPS &mt C_PP F11 &mt C_MUTE F12
			&kp DEL &kp BSPC    &kp BSPC &kp DEL
			>;
		};
		mouse_layer {
			label = "Mouse";
			bindings = <
			&mkp MB4 &kp INS &mkp MB5 &msc SCRL_UP &msc SCRL_DOWN    &msc SCRL_UP &msc SCRL_DOWN &mkp MB4 &kp PSCRN &mkp MB5
			&kp LALT &kp LCTRL &mmv MOVE_UP &kp LSHIFT &mkp LCLK    &mkp LCLK &kp RSHIFT &mmv MOVE_UP &kp RCTRL &kp RALT
			&mkp MCLK &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &mkp RCLK    &mkp RCLK &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &mkp MCLK
			&kp TAB &mo L_SETTINGS    &mo L_SETTINGS &kp TAB
			>;
		};
		settings_layer {
			label = "Settings";
			bindings = <
			&bootloader &unstick &studio_unlock &bt BT_CLR &bt BT_SEL 0    &bootloader &unstick &studio_unlock &bt BT_CLR &bt BT_SEL 0
			&bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5    &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5
			&none &none &kp L &none &none    &none &none &kp R &none &none
			&none &none    &none &none
			>;
		};
	};
};
